<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_ITrending" />
                <binding name="WSDualHttpBinding_IAlarmDisplay" />
            </wsDualHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IDatabaseManager" />
                <binding name="WSHttpBinding_IRealTimeUnit" />
                <binding name="WSHttpBinding_IReportManager" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4000/ScadaCoreWCF/DatabaseManager"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDatabaseManager"
                contract="ScadaCoreTrendingReference.IDatabaseManager" name="WSHttpBinding_IDatabaseManager">
                <identity>
                    <userPrincipalName value="DESKTOP-CRBT4BG\Fieldmatic" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:4000/ScadaCoreWCF/Trending"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ITrending"
                contract="ScadaCoreTrendingReference.ITrending" name="WSDualHttpBinding_ITrending">
                <identity>
                    <userPrincipalName value="DESKTOP-CRBT4BG\Fieldmatic" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:4000/ScadaCoreWCF/RealTimeUnit"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRealTimeUnit"
                contract="ScadaCoreTrendingReference.IRealTimeUnit" name="WSHttpBinding_IRealTimeUnit">
                <identity>
                    <userPrincipalName value="DESKTOP-CRBT4BG\Fieldmatic" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:4000/ScadaCoreWCF/AlarmDisplay"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IAlarmDisplay"
                contract="ScadaCoreTrendingReference.IAlarmDisplay" name="WSDualHttpBinding_IAlarmDisplay">
                <identity>
                    <userPrincipalName value="DESKTOP-CRBT4BG\Fieldmatic" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:4000/ScadaCoreWCF/ReportManager"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IReportManager"
                contract="ScadaCoreTrendingReference.IReportManager" name="WSHttpBinding_IReportManager">
                <identity>
                    <userPrincipalName value="DESKTOP-CRBT4BG\Fieldmatic" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>